<%- include('../partials/header.ejs') -%>
  <%- include('../partials/navbar.ejs') -%>
    <div class="bg-image">
      <p class="page-heading">Company Management System</p>
      <img class="home-page" src="/assets/index_background.jpg" alt="img">
    </div>